# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.pyc

# ML / DL models (VERY LARGE)
*.h5
*.pkl
*.joblib
*.pt
*.pth
*.onnx
*.caffemodel

# Model folders (extra safety)
models/
services/**/models/

# Uploads / generated data
uploads/

# OS files
.DS_Store
Thumbs.db
