# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Uploads and results (optional folders you don’t want on GitHub)
uploads/
result/

# Environment variables
.env

# Large model files
services/image_colorization/models/colorization_release_v2.caffemodel
services/diabetic_retinopathy/dr_model.h5
services/house_price/models/house_price_model.pkl
